.jov:hover{
	border-bottom: 3px solid lightblue; 
}

/*body{
	background: url("web plantilla-04.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}*/
s{
	width: auto;
}

.creativity{
	width: 100%;
}

.pad{
	margin-top: 200px;
	margin-bottom: 200px;

}